# Logs 日誌文件
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 建置和依賴目錄
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite cache 快取文件
.vite

# Environment variables 環境變量
.env
.env.production

# Vercel 部署文件
.vercel

README.local.md

